.navbar-logo{
    background-color: rgb(242, 242, 242);
    display: flex;
    align-items: center;
    padding: 10px 20px;
    justify-content: space-between;
    
}

.navbar-logo img{
    width: 100px;
    height: 55px;
    padding: 0;
}